#include <dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
    trackpad_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
    };
};

/* 1. 新しいピン割り当てルールを作成する */
&pinctrl {
    i2c0_custom: i2c0_custom {
        group1 {
            /* D9(P0.09)をSDA、D10(P0.10)をSCLに指定 */
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 10)>;
        };
    };
    i2c0_custom_sleep: i2c0_custom_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>,
                    <NRF_PSEL(TWIM_SCL, 0, 10)>;
            low-power-enable;
        };
    };
};

/* 2. 上で作ったルールをI2Cに適用する */
&xiao_i2c {
    status = "okay";
    pinctrl-0 = <&i2c0_custom>;
    pinctrl-1 = <&i2c0_custom_sleep>;
    pinctrl-names = "default", "sleep";

    trackpad: cirque@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        /* D8をDR(割り込み)に指定 */
        dr-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH)>;
    };
};
