/ {
    trackpad_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
    };
};

&xiao_i2c {
    status = "okay";
    /* D10をSCL、D9をSDAに再定義 */
    scl-pin = <10>;
    sda-pin = <9>;

    trackpad: cirque@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        /* D8をDR(割り込み)に指定 */
        dr-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH)>;
        
        sensitivity = <0x20>;
        sleep;
    };
};
